extends layout
block content
  div(class="container-fluid")
    h1= title
  - let results=[{manufacturer:"benz",model:"Gle-320-d",price:129000},{manufacturer:"audi",model:"A4",price:58999},{manufacturer:"toyota",model:"corala",price:50000}] 
    div(class="row")
      each form,index in results
        div(class = "col-sm-2 bg-success" onclick=`buy(${index})`) #{form.manufacturer}
        div(class = "col-sm-2 bg-success" onclick=`buy(${index})`) #{form.model}
        div(class = "col-sm-2 bg-success" onclick=`buy(${index})`) #{form.price}
        hr
    script.     
      function buy(itemNo)
      {
        alert(`You purchased Item ${itemNo+1}`)
      }